<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0,maximum-scale=1" name="viewport">
    <title>Weather App by Program Explorers</title>
    <link href="static/weather_icon-2.ico" rel="shortcut icon" type="image/x-icon"/>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

</head>

<body>
<div class="site-content">
    <div class="site-header">
        <div class="container-fluid">
            <div class="logo-type">
                <h1 class="site-title">Weather</h1>
                <small class="site-description">By Program Explorers</small>
            </div>


        </div>
    </div>
    <div class="hero" data-bg-image="landscape.jpg" height="300px"
         style="background-image: url('https://cdn.lynda.com/course/438407/438407-637286184088314228-16x9.jpg');">
        <div class="container">
            <form class="find-location" method="post">
                <input name="city" placeholder="Find your location..." type="text">
                <input type="submit" value="Find">
            </form>

        </div>
    </div>
    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div class="day">Current</div>
                        <div class="date">{{day}} {{month}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="location">{{data.city_name}}</div>
                        <div class="degree">
                            <div class="num">{{data.temp}}<sup>o</sup>F</div>
                            <div class="forecast-icon">
                                <img alt="" src={{image}} width=90>
                            </div>
                        </div>
                        <span><img alt="" height="9%" src="static/icons/humiditywater.png" width="9%">{{data.humidity}}%</span>
                        <span><img alt="" src="static/icons/icon-wind.png">{{data.wind_speed}}mph</span>
                        {% if pop_list[0] == '' %}
                            <span><img alt="" src="static/icons/umbrella.png">{{pop_list[0]}}0%</span>
                        {% else %}
                            <span><img alt="" src="static/icons/umbrella.png">{{pop_list[0]}}</span>
                        {% endif %}

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[1]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[1]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_1_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_2_main']}}</small>
                        <h4>{{pop_list[1]}}</h4>

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[2]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[2]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_2_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_3_main']}}</small>
                        <h4>{{pop_list[2]}}</h4>

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[3]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[3]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_3_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_4_main']}}</small>
                        <h4>{{pop_list[3]}}</h4>

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[4]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[4]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_4_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_5_main']}}</small>
                        <h4>{{pop_list[4]}}</h4>

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[5]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[5]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_5_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_6_main']}}</small>
                        <h4>{{pop_list[5]}}</h4>

                    </div>
                </div>
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">{{list_of_hours[6]}}</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img alt="" src={{hourly_images[6]}} width=48>
                        </div>
                        <div class="degree">{{data_hourly['hour_6_temp']}}<sup>o</sup>F</div>
                        <small>{{data_hourly['hour_7_main']}}</small>
                        <h4>{{pop_list[6]}}</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main-content">
        <div class="fullwidth-block">
            <h2 class="section-title" style="color: #1e202b">Maps</h2>
            <div class="forecast-table">
                <div class="container">
                    <div class="forecast-container">
                        <div class="today forecast">
                            <div class="forecast-header">
                                <div class="day">Today</div>
                                <div class="date">{{days[0]}} {{list_of_months[0]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="location">{{data.city_name}}</div>
                                <div class="degree">
                                    <div class="num">{{data_daily.day_1_temp}}<sup>o</sup>F</div>
                                    <div class="forecast-icon">
                                        <img alt="" src={{daily_images[0]}} width=90>
                                    </div>
                                </div>
                                <!--<span><img alt="" src="static/icons/umbrella.png">{{data.humidity}}%</span>-->
                                <span><img alt="" height="7%" src="static/icons/uv.png"
                                           width="7%">{{data_daily.uv}}</span>
                                <span><img alt="" height="8.5%" src="static/icons/sunrise.png" width="8.5%">{{sun_time[0]}}</span>
                                <span><img alt="" height="8.5%" src="static/icons/sunset.png" width="8.5%">{{sun_time[1]}}</span>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">

                                <div class="date">{{days[1]}} {{list_of_months[1]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[1]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_2_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_2_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_2_max']}}/{{data_daily['day_2_min']}} <sup>o</sup>F</small>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="date">{{days[2]}} {{list_of_months[2]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[2]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_3_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_3_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_3_max']}}/{{data_daily['day_3_min']}} <sup>o</sup>F</small>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="date">{{days[3]}} {{list_of_months[3]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[3]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_4_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_4_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_4_max']}}/{{data_daily['day_4_min']}} <sup>o</sup>F</small>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="date">{{days[4]}} {{list_of_months[4]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[4]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_5_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_5_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_5_max']}}/{{data_daily['day_5_min']}} <sup>o</sup>F</small>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="date">{{days[5]}} {{list_of_months[5]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[5]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_6_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_6_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_6_max']}}/{{data_daily['day_6_min']}} <sup>o</sup>F</small>
                            </div>
                        </div>
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="date">{{days[6]}} {{list_of_months[6]}}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    <img alt="" src={{daily_images[6]}} width=48>
                                </div>
                                <div class="degree">{{data_daily['day_7_temp']}}<sup>o</sup>F</div>
                                <small>{{data_daily['day_7_main']}}</small>
                                <br><br>
                                <small>{{data_daily['day_7_max']}}/{{data_daily['day_7_min']}}<sup>o</sup>F</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullwidth-block" data-bg-color="#262936">
            <div class="container">
                <h2 class="section-title" style="">Maps</h2>

                <div class="row">
                    <div class="live-camera col-md-3 col-sm-6">
                        <iframe
                                allowfullscreen
                                frameborder="2"
                                height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCcNwGm6OIClebIx_K824lIfJkPeDssA54
                                        &q={{data.city_name}}}+{{data.country_code}}}&maptype=satellite"
                                style="border:10" width="500">
                        </iframe>
                    </div>
                    <div class="col-md-3 col-sm-6">

                    </div>
                    <div class="col-md-3 col-sm-6">
                        <iframe
                                allowfullscreen
                                frameborder="2"
                                height="450"
                                src="https://www.ventusky.com/?p={{lat}};{{lon}};10&l=temperature-2m"
                                style="border:10"
                                width="500">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h2 class="section-title">News</h2>
                        <iframe
                                allowfullscreen
                                frameborder="2"
                                height="450" src="https://weather.com/news"
                                style="border:10" width="500">
                        </iframe>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    </div>
                    <div class="live-camera col-md-3 col-sm-6">
                            {% if new_des == 'No alerts in this area!' %}
                            <h2 class="section-title">Alerts</h2>
                            <h3>No alerts in this area!</h3>
                            {% else %}
                            <h2 class="section-title">Alerts <img height="15%" width="15%" src={{alerts_image}}> </h2>
                            <h2>{{alerts_data['title']}}</h2>
                            <h4>{{new_des[0]}}</h4>
<!--                            <h4>{{new_des[1]}}</h4>-->
<!--                            <h4>{{new_des[2]}}</h4>-->
<!--                            <h4>{{new_des[3]}}</h4>-->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="#" class="subscribe-form">
                        <input placeholder="Enter your email to subscribe..." type="text">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
            <p class="colophon">Program Explorers. Designed by Themezy.</p>
        </div>
    </footer>
</div>
</body>
</html>