<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>

    <title>weather</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--    <style type='text/css'>body{margin:0;padding:0;overflow:hidden;font-family:'Segoe UI',Helvetica,Arial,Sans-Serif}</style>-->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
            type="text/javascript"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Auc5h9YG7WqHQNqRU7_bpGVE1Q8VlqOCTZkZdy9Jdnas7gJBK0ICSvwOTRHg8NDM&callback=loadMapScenario'
            async defer></script>
</head>

<body>
<div style="color: white; background-color: #02455A">
    <img alt="Weather App Logo" height="90" src="{{url_for('static', filename='weather_icon.jpg')}}" width="90">
    <span class="ml-3" style="font-size: 30px">Weather App</span>
</div>
<div class="container-fluid" style="background-color:#0099e4">
    <center class="row">
        <br>
        <form class="col-md-6 mt-3 col-md-offset-3" method="post">
            <div class="input-group">
                <input class="form-control" name="city" placeholder="Search" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </center>
    {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity and data.temp_max and
    data.temp_min and data.wind_speed%}
    <div class="container" style="color: white">
        <div>
            <img src="{{url_for('static', filename=image)}}" style="">
            <h1>{{data.main}}</h1>
            <h2>{{data.city_name + ', ' + data.country_code}}</h2>
            <h2>{{data.temp}}°F</h2>
            <h4>{{data.temp_max}}°/{{data.temp_min}}°</h4>
        </div>
        <div>
            <div id='printoutPanel'></div>
             <div id='myMap' style='width: 50; height: 50;'></div>
            <iframe
                    allowfullscreen
                    frameborder="0"
                    height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCcNwGm6OIClebIx_K824lIfJkPeDssA54
                                &q={{data.city_name}}}+{{data.country_code}}}&maptype=satellite"
                    style="border:10" width="600">
            </iframe>
        </div>
        <br><br>
        <div class="row">
            <h3>Sunrise: {{sunrise.tm_hour}}:{{sunrise_min}} A.M.</h3>
            <h3>Sunset: {{sunset.tm_hour}}:{{sunset_min}} P.M.</h3>
            <h4>Feels Like: {{data.feels_like}}°F</h4>
            <h4>Humidity: {{data.humidity + '%'}}</h4>
            <h4>Wind: {{data.wind_speed}}mph</h4>
            <h4>{{hour_times[0]}}: {{data_hourly.hour_1_temp}}°F</h4>
            <h4>{{hour_times[1]}}: {{data_hourly.hour_2_temp}}°F</h4>
            <h4>{{hour_times[2]}}: {{data_hourly.hour_3_temp}}°F</h4>
            <h4>{{hour_times[3]}}: {{data_hourly.hour_4_temp}}°F</h4>
            <h4>{{hour_times[4]}}: {{data_hourly.hour_5_temp}}°F</h4>
            <h4>{{hour_times[5]}}: {{data_hourly.hour_6_temp}}°F</h4>
            <h4>{{hour_times[6]}}: {{data_hourly.hour_7_temp}}°F</h4>
            <h4>{{hour_times[7]}}: {{data_hourly.hour_8_temp}}°F</h4>
            <h4>{{hour_times[8]}}: {{data_hourly.hour_9_temp}}°F</h4>
            <h4>{{hour_times[9]}}: {{data_hourly.hour_10_temp}}°F</h4>
            <h4>{{hour_times[10]}}: {{data_hourly.hour_11_temp}}°F</h4>
            <h4>{{hour_times[11]}}: {{data_hourly.hour_12_temp}}°F</h4>
        </div>
    </div>
    {% endif %}

</div>
</body>
</html>
<script type='text/javascript'>
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                    /* No need to set credentials if already passed in URL */
                    center: new Microsoft.Maps.Location(39.1887643719098, -92.8261546188403),
                    zoom: 5
                });
                // tile url from Iowa Environmental Mesonet of Iowa State University
                var urlTemplate = 'https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/nexrad-n0q-{timestamp}/{zoom}/{x}/{y}.png';
                var timestamps = ['900913-m50m', '900913-m45m', '900913-m40m', '900913-m35m', '900913-m30m', '900913-m25m', '900913-m20m', '900913-m15m', '900913-m10m', '900913-m05m', '900913'];
                var tileSources = [];
                for (var i = 0; i < timestamps.length; i++) {
                    var tileSource = new Microsoft.Maps.TileSource({
                        uriConstructor: urlTemplate.replace('{timestamp}', timestamps[i])
                    });
                    tileSources.push(tileSource);
                }
                var animatedLayer = new Microsoft.Maps.AnimatedTileLayer({ mercator: tileSources, frameRate: 500 });
                map.layers.insert(animatedLayer);

            }
</script>