<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0,maximum-scale=1" name="viewport">
    <title>Weather App by Program Explorers</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="site-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <center><img src={{article_data['article1_img']}} width="200px" height="200px"></center>
                    <h1>{{article_data['article1_title']}}</h1>
                    <pre>{{article_data['article1_content']}}</pre>
                </div>
                <div class="col-md-3 col-sm-6">
                    <center><img src={{article_data['article2_img']}} width="200px" height="200px"></center>
                    <h1>{{article_data['article2_title']}}</h1>
                    <pre>{{article_data['article2_content']}}</pre>
                </div>
                <div class="col-md-3 col-sm-6">
                    <center><img src={{article_data['article3_img']}} width="200px" height="200px"></center>
                    <h1>{{article_data['article3_title']}}</h1>
                    <pre>{{article_data['article3_content']}}</pre>
                </div>
                <div class="col-md-3 col-sm-6">
                    <center><img src={{article_data['article4_img']}} width="200px" height="200px"></center>
                    <h1>{{article_data['article4_title']}}</h1>
                    <pre>{{article_data['article4_content']}}</pre>
                </div>
                <div class="col-md-3 col-sm-6">
                    <center><img src={{article_data['article5_img']}} width="200px" height="200px"></center>
                    <h1>{{article_data['article5_title']}}</h1>
                    <pre>{{article_data['article5_content']}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>